<div class="ui-g landing-main">

  <div id="list-section" class="ui-lg-7 ui-lg-offset-1 ui-g-12">
    <p-dataView [value]="streetlights" [paginator]="true" 
                [rows]="100" filterBy="poleID,wattage,lumens" 
                [lazy]="true"
                (onLazyLoad)="loadData($event)"
                 [totalRecords]="totalRecords"
                >
        <p-header fxLayoutAlign="center center">
            <input type="search" pInputText placeholder="Search" (keyup)="dataView.filter($event.target.value)" fxFlex="25">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </p-header>
      <ng-template let-streetlight pTemplate="listItem">
        <div class="list-item" fxLayoutAlign="start center">
            <span class="list-item-id" fxFlex="25">{{streetlight.poleID}}</span>
            <span fxFlex="25">{{streetlight.wattage}} watts</span>
            <span fxFlex="45">{{streetlight.lumens}} lumens</span>
            <span fxFlex><button pButton icon="fa fa-search" (click)="onDataViewItemClick(streetlight.poleID)"></button></span>
        </div>
      </ng-template>
      <ng-template let-streetlight pTemplate="gridItem">
        <div class="grid-item ui-g-12 ui-md-3">
          <div class="grid-item-inner-wrapper">
            <div>{{streetlight.poleID}}</div>
            <div>{{streetlight.wattage}}</div>
            <div>{{streetlight.lumens}}</div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <div id="details-section" class="ui-lg-3 ui-g-12">
    <div class="detail-view">
      <div class="detail-view-poleId">{{currentStreetlight.poleID}}</div>
      <div class="detail-view-location"><span class="detail-view-label">Location:</span>{{currentStreetlight.longitude}}, {{currentStreetlight.latitude}}</div>
      <div class="detail-view-info"><span class="detail-view-label">Wattage:</span>{{currentStreetlight.wattage}} watts</div>
      <div class="detail-view-info"><span class="detail-view-label">Attached Tech:</span>{{currentStreetlight.attachedTech}}</div>
      <div class="detail-view-info"><span class="detail-view-label">Pole Owner:</span>{{currentStreetlight.poleOwner}}</div>
      <div class="detail-view-info"><span class="detail-view-label">Light Attributes:</span>{{currentStreetlight.lightAttributes}}</div>
    </div>
  </div>

</div>
