/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Roboto');


:root {
    --heading-font: 'Fira Sans Condensed', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --color-primary-0: #6A9939;	/* Main Primary color */
    --color-primary-1: #2A6934;
    --color-primary-2: #A4CE3E;
    --color-primary-3: #373739;
    --color-primary-4: #B7B6BB;
    --color-font-dark: #000000;
    --color-font-light: #EEEEEE;
}

* {
    font-family: var(--body-font);
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
    color: var(--color-font-dark);
}

/* PrimeNg Table Styling */
.ui-table .ui-table-thead > tr > th,
.ui-table .ui-table-tfoot > tr > td,
.ui-widget-header {
    background: var(--color-primary-0) !important;
    border: 1px solid var(--color-primary-1) !important;
}

.ui-table .ui-table-tbody > tr:hover {
    background: var(--color-primary-2);
}

.ui-table .ui-table-thead > tr > th,
.ui-table .ui-table-tbody > tr > td,
.ui-table .ui-table-tfoot > tr > td {
    padding: .25em .75em;
}

.ui-widget-header a {
    color: var(--color-font-dark);
}