<div id="main">
  <header fxLayout="row" fxLayoutAlign="center center" >
    <img id="site-logo" src="../assets/CfKC Streetlight Logo.png" alt="">
  </header>
  <content>
    <div id="mode-shifter" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <i class="fa fa-map" aria-hidden="true" (click)="onModeShiftClick('map')"></i>
      <span>|</span>
      <i class="fa fa-table" aria-hidden="true" (click)="onModeShiftClick('spreadsheet')"></i>
    </div>
    <app-spreadsheet-view *ngIf="mode == 'spreadsheet'"></app-spreadsheet-view>
    <app-map-view *ngIf="mode == 'map'"></app-map-view>
  </content>
</div>
