#main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vw 30vw 10vw;
    grid-gap: 1em;
    /* margin: 0 auto;
    max-width: 80em; */
    /* padding: 1em 0; */
}
  
header {
    background-color: #0f0314;
  }
  
header,
footer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
 } 

 content {
    /* background: #eaeaea; */
 }