<div id="main">
  <header fxLayout="row" fxLayoutAlign="center center" >
    <h1 id="site-header" (click)="onModeShiftClick('landing')">Streetlights</h1>
  </header>
  <content>
    <div id="mode-shifter" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <i title="Landing Page" aria-label="Landing Page" tabindex="1" class="fa fa-home" aria-hidden="true" (click)="onModeShiftClick('landing')" (keyup.enter)="onModeShiftClick('landing')"></i>
      <span>|</span>
      <i title="Map View" aria-label="Map View" tabindex="1" class="fa fa-map" aria-hidden="true" (click)="onModeShiftClick('map')" (keyup.enter)="onModeShiftClick('map')"></i>
      <span>|</span>
      <i title="Spreadsheet View" aria-label="Spreadsheet View" tabindex="1" class="fa fa-table" aria-hidden="true" (click)="onModeShiftClick('spreadsheet')" (keyup.enter)="onModeShiftClick('spreadsheet')"></i>
    </div>
    <app-spreadsheet-view *ngIf="mode == 'spreadsheet'"></app-spreadsheet-view>
    <app-map-view *ngIf="mode == 'map'"></app-map-view>
    <app-landing-view *ngIf="mode == 'landing'"></app-landing-view>
  </content>
</div>
