input {
    height: 32px;
}

#map-view-main {
    height: auto;
}
  
main,
aside {
    background: #eaeaea;
    /* align-items: center; */
    /* justify-content: center; */
 }

 aside {
     height: 60vh;
     border-radius: 3px;
     background-color: var(--color-primary-0);
 }

 #sidebar-top {
    padding: 16px 32px;
 }

 .map-search {
     margin-bottom: 32px; 
 }

 .map-search, .map-control-inputs {
     padding-left: 16px;
 }

 #clear-filters-btn {
     padding-top: 32px;
 }


 agm-map {
     height: 60vh;
     /* width: 100%; */
     /* margin: 0 auto; */
 }
