

#map-view-main {
    height: auto;
}
  
main,
aside {
    background: #eaeaea;
    /* align-items: center; */
    /* justify-content: center; */
 }

 aside {
     height: 60vh;
     border-radius: 3px;
     background-color: var(--color-primary-0);
 }

 #sidebar-top {
    padding: 16px 32px;
 }


 agm-map {
     height: 60vh;
     /* width: 100%; */
     /* margin: 0 auto; */
 }
