<div id="spreadsheet-main">
    <p-table #dt [columns]="cols" [value]="streetlights" [paginator]="true" [rows]="20">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'poleID'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'latitude'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'longitude'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <p-dropdown *ngSwitchCase="'wattage'" [options]="wattageOptions" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
                    <p-triStateCheckbox *ngSwitchCase="'attachedTech'" binary="true" (onChange)="onAttachedTechChange($event, dt)"></p-triStateCheckbox>
                    <p-dropdown *ngSwitchCase="'poleOwner'" [options]="poleOwnerOptions" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
                    <input *ngSwitchCase="'lightAttributes'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-streetlight let-columns="columns">

            <tr [pSelectableRow]="streetlight">
                <td *ngFor="let col of columns">
                    {{streetlight[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
