#spreadsheet-main {
    width: 100%;
    min-width: 1024px;
}

input, p-checkbox {
    width: 100%;
}

.detail-view-poleId {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.detail-view-info {
    margin: 3px 0;
    text-align: left;
}

.detail-view {
    padding: 5px;
    font-size: 1.0em;
    border-radius: 3px;
}

.detail-view-label {
    margin-right: 30px;
    font-style: italic;
}